# ==============================
# Environment & Secrets
# ==============================
.env
.env.*
!.env.example


# ==============================
# Dependencies
# ==============================
merchant/vendor/
node_modules/


# ==============================
# Logs
# ==============================
*.log


# ==============================
# IDE / Editor Files
# ==============================
.vscode/
.idea/


# ==============================
# Operating System Files
# ==============================
.DS_Store
Thumbs.db


# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp


# ==============================
# Cache
# ==============================
.cache/